<h1><%= t('person.edit') %></h1>

<%= render 'form', person: @person %>

<br>

<%= link_to t('links.show'), @person, class:"btn btn-primary"  %>
<%= link_to t('links.back'), people_path, class:"btn btn-outline-primary"  %>
