<h1><%= t('order.edit') %></h1>

<%= render 'form', order: @order %>

<%= link_to t('links.show'), @order, class:"btn btn-primary"  %>
<%= link_to t('links.back'), orders_path, class:"btn btn-outline-primary"  %>
