<h1><%= t('product.edit') %></h1>

<%= render 'form', product: @product %>

<%= link_to t('links.show'), @product, class:"btn btn-primary"  %>
<%= link_to t('links.back'), products_path, class:"btn btn-outline-primary"  %>
